/*Header*/
.header {
    background: linear-gradient(360deg, #223036 0%, #223036 100%);
    position: relative;
}

.header-logo {
    position: absolute;
}

.header-logo-mini{
    display: none;
}

.header-text {
    position: absolute;

    font-family: "PT Sans Caption", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-menu-icon {
    display: none;
}

.header-search-icon {
    display: none;
}

.header-auth {
    position: absolute;
    width: 40px;
    height: 13px;

    font-family: "PT Sans Bold", sans-serif;
    font-size: 15px;
    line-height: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-auth::after {
    content:'';
    position:absolute;
    top:-10px; bottom:-10px; 
    left:-10px; right:-10px; 
}

 /*Header-memu*/
 .header-menu{
    margin: 1px 0 0 0;
    height: 48px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    position: relative;
}

.header-list {
    display: flex;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

.header-item-link {
    padding: 3px 13px;
    font-family: "Brutal Type";
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.header-item-link:hover {
    background: #FAAF3F;
    border-radius: 2px;
    color: #FFFFFF;
}


@media (min-width: 1920px) {
    /*Header*/
    .header {
        width: 1200px;
        height: 173px;
    }

    .header-logo {
        width: 370px;
        height: 80px;
        top: 48px;
        left: 47px;
    }

    .header-text {
        width: 658px;
		height: 87px;
		top: 44px;
		left: 473px;
    }

    .header-auth {
        right: 15px;
        top: 14px;
    }

    /*Header-memu*/
    .header-menu-icon-nav {
        position: absolute;
        top: 15px;
        left: 46px;
    }

    .header-menu-icon-nav::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }

    .header-list {
        margin-left: 90px;
    }

    .header-item-news {
        margin-right: 25px;
    }

    .header-item-video {
        margin-right: 31px;
    }

    .header-item-tests {
        margin-right: 27px;
    }

    .header-item-series {
        margin-right: 27px;
    }
    
    .header-item-search {
        display: none;
    }

    .header-search-icon-nav {
        position: absolute;
        top: 15px;
		right: 12px;
    }

    .header-search-icon-nav::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    /*Header*/
    .header {
		width: 1200px;
		height: 173px;
	}

    .header-logo {
		width: 370px;
		height: 80px;
        top: 48px;
		left: 47px;
	}

    .header-text {
        width: 658px;
		height: 87px;
		top: 44px;
		left: 473px;
    }

    .header-auth {
        right: 15px;
        top: 14px;
    }

    /*Header-memu*/
    .header-menu-icon-nav {
        position: absolute;
        top: 15px;
        left: 46px;
    }

    .header-menu-icon-nav::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }

    .header-list {
        margin-left: 90px;
    }

    .header-item-news {
        margin-right: 25px;
    }

    .header-item-video {
        margin-right: 31px;
    }

    .header-item-tests {
        margin-right: 27px;
    }

    .header-item-series {
        margin-right: 27px;
    }
    
    .header-item-search {
        display: none;
    }

    .header-search-icon-nav {
        position: absolute;
        top: 15px;
		right: 12px;
    }

    .header-search-icon-nav::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    /*Header*/
    .header {
        width: 1024px;
        height: 173px;
    }

    .header-logo {
        width: 370px;
		height: 80px;
		top: 48px;
		left: 32px;
    }

    .header-text {
        width: 550px;
		height: 87px;
		top: 36px;
		left: 424px;
    }

    .header-auth {
        right: 15px;
        top: 16px;
    }

    /*Header-memu*/
    .header-menu-icon-nav {
        position: absolute;
        margin-top: 14px;
        margin-left: 38px;
    }

    .header-menu-icon-nav::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }

    .header-list {
        margin-left: 70px;
    }

    .header-item-news {
        margin-right: 25px;
    }

    .header-item-video {
        margin-right: 31px;
    }

    .header-item-tests {
        margin-right: 27px;
    }

    .header-item-series {
        margin-right: 27px;
    }

    .header-item-search {
        display: none;
    }

    .header-search-icon-nav {
        position: absolute;
        top: 15px;
		right: 17px;
    }

    .header-search-icon-nav::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    /*Header*/
    .header {
		width: 100%;
		height: 173px;
	}

    .header-logo {
		width: 370px;
		height: 80px;
		top: 49px;
		left: 50%;
        transform: translateX(-50%);
    }

    .header-text {
        display: none;
    }

    .header-menu-icon {
        display: block;
		position: absolute;
		width: 19px;
		height: 16px;
		top: 16px;
		left: 2%;
	}

    .header-menu-icon::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }

    .header-auth {
        right: 2%;;
		top: 16px;
    }

    /*Header-memu*/
    .header-menu-icon-nav {
        display: none;
    }

    .header-list {
        margin-left: auto;
        margin-right: auto;
    }

    .header-item-news {
        margin-right: 57px;
    }

    .header-item-video {
        margin-right: 60px;
    }

    .header-item-tests {
        margin-right: 55px;
    }

    .header-item-series {
        margin-right: 56px;
    }

    .header-item-rubric {
        margin-right: 67px;
    }

    .header-item-link:hover {
        background: none;
        border-radius: 2px;
        color: #000000;
    }

    .header-search-icon-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    /*Header*/
    .header {
		width: 100%;
        min-width: 320px;
		height: 48px;
	}

    .header-logo {
		display: none;
	}

    .header-logo-mini {
		display: block;
		position: absolute;
		top: 7px;
		left: 17%;
	}

    .header-logo-mini::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }

    .header-text {
		display: none;
	}

    .header-menu-icon {
		display: block;
		position: absolute;
		width: 19px;
		height: 16px;
		top: 16px;
		left: 5%;
	}

    .header-menu-icon::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }

    .header-search-icon {
		display: block;
		position: absolute;
		width: 14px;
		height: 14px;
		top: 15px;
		right: 23%;
	}

    .header-search-icon::after {
        content:'';
        position:absolute;
        top:-10px; bottom:-10px; 
        left:-10px; right:-10px; 
    }
    

    .header-auth {
        right: 5%;
		top: 18px;
    }

    /*Header-memu*/
    .header-menu-icon-nav {
        display: none;
    }

    .header-list {
        margin-left: 14px;
        margin-right: 14px;
        width: 100%;
        justify-content: space-between;
    }

    .header-item-link {
        padding: 3px 0;
    }

    .header-item-search {
        display: none;
    }

    .header-item-link {
        font-family: "PT Sans Caption", sans-serif;
        font-size: 14px;
    }

    .header-item-link:hover {
        background: none;
        border-radius: 2px;
        color: #000000;
    }

    .header-search-icon-nav {
        display: none;
    }
}

@media (max-width: 320px) {

    .header-list {
        margin-left: 14px;
    }

    .header-item-news {
        margin-right: -10px;
    }

    .header-item-video {
        margin-right: -16px;
    }

    .header-item-tests {
        margin-right: -11px;
    }

    .header-item-series {
        margin-right: -10px;
    }

    .header-logo-mini {
		left: 54px;
	}

    .header-menu-icon {
		left: 16px;
	}

    .header-search-icon {
		right: 64px;
	}

    .header-auth {
        right: 16px;
    }



}